
#logo {
    float: left;
    width: 250px;
    height: 70px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    /* line-height: 90px; */
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
    margin-left: 20px;
  }

  #links {
    display: inline-block;
    border-right: 1px  solid #bbb;
    padding: 0px 15px;      
    border-radius: 0px;     
  } 

  #links-last-child {
    display: inline-block;
    padding: 0px 15px;         
    border-right: 0 none;
  }

  #main-container {
    padding-top: 100px;
  } 


@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}


    body, html {
        height: 100%;
      }
      .bg {
        /* The image used */
        background-image: url("images/dark-paths.png") !important;
      
        /* Full height */
       /* height: 100%;
      
        /* Center and scale the image nicely */
        /*background-position: center;
        background-repeat: no-repeat;
        background-size: cover;*/
      }

      .work {
        position: relative;
        float: left;
       /* width: 274px;*/
        margin: 20px 20px 20px 20px;
        overflow: auto;
      }
      
      
      
      .work img {
        width: 100%;
        border: 0 none;
        opacity: 0.8;
      }
      
      .work h3 {
        position: absolute;
        bottom: 20px;
        width: 100%;
        padding: 15px;
        margin-bottom: 0;
        font-weight: 300;
        line-height: 30px;
        color: #ffffff;
        text-align: center;
        background: #4aaaa5;
        border-bottom: 0;
      }
      
      @media screen and (max-width: 640px) {
     
        #main-container {
          padding-top: 30px;
        } 
        
        
        .navbar-brand {
            width: 100% !important;
            margin-left: 0px;
            clear: both; 
            position: static; 
        }
        #logo {
            width: 100% !important;
            margin-left: 0px;
            clear: both; 
          }
    .nav.navbar-nav {
        margin: auto;
        width: 100%;
        text-align: center;  
    }
    nav {
        position: static
    }
}